/_build
/db
/deps
/*.ez

erl_crash.dump
npm-debug.log
/assets/node_modules
/priv/static/
/config/*.secret.exs

VERSION
/hugo-dev-site/

# You can place a custom verifier into this repo without forking to restrict authenticated users
lib/victor/verifier.ex
