<div class="editor">
  <div class="files-list">
    <ul>
      <%= for section <- @sections do %>
        <%= render "_section.html", section: section %>
      <% end %>
    </ul>
  </div>
  <div class="file-editor">
  </div>
</div>
