html, body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.list-reset {
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}
