:root {
  --white-color: #FDFDFD;
  --black-color: #222222;
  --navy-color: #001f3f;
  --blue-color: #0074D9;
  --yellow-color: #FFDC00;
  --silver-color: #DDDDDD;
  --sidebar-width: 330px;
  --topbar-height: 52px;
}
